# Configurações do MySQL - Banco de Acesso
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_PORT=3306
MYSQL_ACCESS_DB=cpsi_acesso

# Configurações do MySQL - Banco Gestor
MYSQL_GESTOR_HOST=localhost
MYSQL_GESTOR_PASSWORD=root
MYSQL_GESTOR_DB=gestor

# NextAuth
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3001 